<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Optional so the probe can show a useful NO HOST result on unsupported tablets. -->
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />
    <application
        android:label="Hanna &amp; Ada USB Test"
        android:allowBackup="false"
        android:theme="@style/HannaAdaUsbTheme">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
